.navbar{
                  display:flex;
                  justify-content: space-around;
                  padding: 16px;
                  box-shadow: 0 1px -2px 3px;
                  background-color: rgb(18, 182, 182);
}
.nav-logo{
                  display: flex;
                  align-items: center;
                  gap:10px;
}
.nav-logo p{
                  color: #171717;
                  font-size: 38px;
                  font-weight: 600;
}
.nav-menu{
                  display:flex;
                  align-items: center;
                  list-style: none;
                  gap: 50px;
                  color: #626262;
                  font-size: 20px;
                  font-weight: 500;
}
.nav-menu li {
                  display:flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  gap:3px;
                  cursor: pointer;

}
.nav-menu hr{
                  border:none;
                  width:80%;
                  height: 3px;
                  border-radius: 10px;
                  background-color: #ff4141;
                  color:green;
}
.nav-login-cart
{
                  display:flex;
                  align-items: center;
                  gap:45px;

}
.nav-login-cart button{
                  width: 157px;
                  height:58px;
                  outline: none;
                  border-radius: 75px;
                  color: #515151;
                  font-size: 20px;
                  background-color: white;
                  cursor: pointer;
}
.nav-login-cart button:active {

                  background-color: #31b012;
}
.nav-cart-count{
                  width: 22px;
                  height: 22px;
                  justify-items: center;
                  display: flex;
                  align-items: center;
                  text-align: center;
                  margin-top: -35px;
                  margin-left:-55px;
                  border-radius: 9px;
                  font-size: 14px;
                  background-color: red;
                  color:white;
}
.nav-cart-count div{
    align-items: center;
    text-align: center;
    padding-left: 6px;
}

.vertical-line {
                  width: 2px; /* Adjust the width as needed */
                  background-color: black; /* You can change the line color */
                  height: 100%; /* Extends the line to the full height of the navbar */
                  margin: 0 20px; /* Adjust the margin as needed to control the spacing */
              }
              